.header {
}

.button {
    width: 300px;
    height: 60px;
    -unity-font: url("project://database/Assets/Fonts/cybero.ttf?fileID=12800000&guid=d673b6efe65ee834396eb72d74a9a645&type=3#cybero");
    -unity-font-definition: initial;
    font-size: 50px;
}
